
.navbar {
    background-color: rgb(11, 139, 139);
    }
    .button-toggler{
        background-color: rgb(11, 139, 139);
        border:3px solid rgb(32, 32, 32); 
        border-radius:10px; 
        padding:10px;
        height:50px; 
        width: 60px;
    }
    .button-toggler:hover{
        background-color:  rgba(129, 218, 132, 0.3) ;
        border:3px solid rgb(250, 250, 250); 
        border-radius: 10px;
      
    }
    .offcanvas-header{
        background-color: rgb(26, 78, 60);
        color: rgb(252, 251, 251);
    }
    .offcanvas-header{
        font-family: serif;
    }
    .offcanvas-body{
        background-color: rgb(24, 165, 125);
      
    }    
    .nav-item a {
        color:rgb(235, 235, 235) ;
        padding: 20px;
      }
    
    .nav-item a:hover {
        color:rgb(24, 165, 125) ;
        background-color: rgb(0, 0, 0);
        padding: 20px;
      }
    
    .PIClogo{
        height: 70px;
        width: 150px;
    border-radius: 10px;
    }
    .navbar2{
      margin-top: 6.5%;
      background-color: rgb(124, 124, 124);
     
    }
    .navbar2 .nav-data{
      margin: 0px 61px 0px 61px;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: white;
      
    }
  
    .nav-data a {
      color:rgb(235, 235, 235) ;
    }
    .nav-data a:hover {
      color: rgb(0, 0, 0) ;
    }
    @media only screen and (max-width: 800px) and (min-width: 400px) {
      .navbar2 {
        margin-top: 10%;
        
        }
        .navbar2 .nav-data{
          font-size: 14px;
          margin: 0px 6px 0px 6px;
        }
        .collegename {
          margin: 15% 1% 0% 1%;
          width: 80vw;
        }
      }
      @media screen and (max-width: 400px){
        .navbar2 {
          margin-top: 12%;
          
          }
          .navbar2 .nav-data{
            font-size: 13px;
            margin: 0px 5px 0px 5px;
          }
        .collegename {
          margin: 50% 1% 1% 1%;
          width: 80vw;
        }

      }
      .watermarkpic {
        opacity: 0.2;
        color: rgba(0, 0, 0, 0.2);
        margin: 40vh 40vw;
        position: fixed;
           top: 11%;
    }
      .collegename {
       width: 94%;
      border-bottom:3px solid black;
      margin: 13% 0% 0% 3%;
      }
      .clgdata{
        text-align:center;
        border:2px solid black;
        border-style: dashed;
        text-align:center;
        font-size:42px;
        font-weight:bolder;

      }
      .tblBox{
        border:2px solid black;
        font-weight:bolder
      }
      #tableboxes{
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
      }
      .tbdata{
       border-left: 2px solid black;
      }
     
   